@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&family=Roboto&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'poppins' , sans-serif;
}

body{
    min-height: 100vh;
    background: #ffffff;
    position: relative;
}

.body_container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 4rem;
}



.container{
    position: relative;
    width: 100%;
    max-width: 70vw;
    height: 120vh;        /*Increase height*/ /*ERROR*/
    margin: 3rem auto;
    background: #ffffff;
    border-radius: 30px;
    box-shadow: 0 8px 40px 0 ;
    overflow: hidden;
}

.container::before{
    content: "";
    position: absolute;
    top: 0;
    left: -50%;
    width: 100%;
    height: 100%;
    background: linear-gradient(-45deg, #b7b5b5, #3f3f3f);
    z-index: 6;
    transform: translateX(100%);
    transition: 1s ease-in-out;
}

.signin-signup{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    z-index: 5;
}

form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 40%;
    min-width: 240px;
    padding: 0 10px;
}

form .sign-in-form{
    opacity: 1;
    transition: 0.5s ease-in-out;
    transition-delay: 1s;
}

.error{
    background: #F2DEDE;
    color: #a94442;
    width: 80%;
    text-align: center;
    border-radius: 5px;
    margin: 10px auto;
}

form .sign-up-form{
    opacity: 0;
    transition: 0.5s ease-in-out;
    transition-delay: 1s;
}

.title{
    font-size: 35px;
    color: #000000;
    margin-bottom: 10px;
}

.input-feild{
    width: 100%;
    height: 50px;
    background: #f0f0f0;
    margin: 10px 0;
    border: 2px solid #6d6466;
    border-radius: 50px;
    display: flex;
    align-items: center;
}

.input-feild i{
    flex: 1;
    text-align: center;
    color: #666;
    font-size: 28px;
}

.input-feild input{
    flex: 5;
    background: none;
    border: none;
    outline: none;
    width: 100%;
    font-size: 18px;
    font-weight: 600;
    color: #444;
}

.btn_login{
    width: 150px;
    height: 50px;
    border: none;
    border-radius: 60px;
    background: rgb(0, 0, 0);
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    margin: 10px 0;
    text-transform: uppercase;
    cursor: pointer;
}

.btn_login:hover{
    background: rgb(159, 154, 154);
    color: #000000;
}

.text {
    margin: 10px 0;
    font-size: 16px;
}

.text span{
    color: rgb(1, 1, 237);
}

.panels-container{
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.panel{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 35%;
    min-width: 240px;
    padding: 0 10px;
    text-align: center;
    z-index: 6;
}

.left-panel{
    pointer-events: none;
}

.content{
    color: #fff;
    transition: 1.1s ease-in-out;
    transition-delay: 0.5s;
}

.panel h3{
    font-size: 30px;
    font-weight: 600;
}

.panel p{
    font-size: 15px;
    padding: 10px 0;
}

.image{
    width: 100%;
    transition: 1.1s ease-in-out;
    transition-delay: 0.4s;
}

.left-panel .image,
.left-panel .content{
    transform: translateX(-200%);
}

.right-panel .image,
.right-panel .content{
    transform: translateX(0);
}

/*Animation*/

.container.sign-up-mode::before{
    transform: translateX(0);
}

.container.sign-up-mode .right-panel .image,
.container.sign-up-mode .right-panel .content{
    transform: translateX(200%);
}

.container.sign-up-mode .left-panel .image,
.container.sign-up-mode .left-panel .content{
    transform: translateX(0);
}

.container.sign-up-mode form.sign-in-form{
    opacity: 0;
}

.container.sign-up-mode form.sign-up-form{
    opacity: 1;
}

.container.sign-up-mode .right-panel{
    pointer-events: none;
}

.container.sign-up-mode .left-panel{
    pointer-events: all;
}